@import '../../vars';

.skills-container {
	display: inline-block;
	width: 40vw;

	h2 {
		margin-bottom: 0;
		margin-top: 0;
	}

	.skills-section {
		margin-bottom: 1.5vw;
		span {
			font-family: $normal-font;
		}
	}
}
