@import '../../vars';

.contact-container {
	margin-bottom: 1.5vw;
	font-size: 1.45vw;

	h1 {
		color: $me-background;
		font-family: $header-font;
		font-weight: bold;
	}

	.contact {
		font-family: $code-font;

		a {
			margin-left: 0.3vw;
			color: $black;
			text-decoration: none;
			font-weight: bold;
		}

		margin-right: 1.3vw;
	}
}
