@import '../../vars';

.header-container {
	display: flex;
	justify-content: left;
	align-items: center;

	margin-bottom: 1vw;
	h1 {
		font-family: $name-font;
		color: $me-background;
		font-weight: bold;
		font-size: 7vw;
	}

	.about {
		font-family: $code-font;
		font-weight: bold;
		font-size: 2.7vw;
		letter-spacing: 0.3vw;
		color: $black;
		margin-left: 2vw;
	}
}
